:root {
  --orbitTop: 600px;
  --orbitBorder: none;
}

html{
	height: 100%;
}
body{
	margin: 0;
	text-align: center;
	background-image: url("https://3dwarehouse.sketchup.com/warehouse/v1.0/publiccontent/bbbf2a17-987c-4fe6-b190-ac8fe0e235e9");
}
#main{
	position: absolute;
	margin: auto;
	height: 1200px;
	width: 100%;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
  	-webkit-box-align: center; 
  	    -ms-flex-align: center; 
  	        align-items: center;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center; 
  	text-align: center; 
  	overflow: hidden;
}
#mainWrapper{
	width: 100%;
	height: 1200px;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
  	-webkit-box-align: center; 
  	    -ms-flex-align: center; 
  	        align-items: center;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center; 
  	text-align: center; 
}
#sun{
	position: absolute;
	width: 6%;
	padding-bottom: 6%;
	background-color: yellow;
	border-radius: 50%;
  	top: var(--orbitTop);
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	box-shadow: 0px 0px 30px 5px yellow;	
  	transition: transform 1s;
  	cursor: pointer;
}
#sunLbl,#mercuryLbl,#venusLbl,#earthLbl,#marsLbl,#jupiterLbl,#saturnLbl,#uranusLbl,#neptuneLbl{
	position: absolute;
	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	color: white;
  	top: -50%;
  	background: rgba(19,19,19,0.5);
  	padding: 5px;
  	border-radius: 5px;
  	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 400;
	font-size: 1.5vw;

}


#mercuryOrbit{
	position: absolute;
	width: 15%;
	padding-bottom: 15%;
	background-color: transparent;
	border-radius: 50%;
  	top: var(--orbitTop);
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	animation: mercuryRevolution infinite 5.5s linear;
}
#mercury{
	position: absolute;
	width: 25%;
	padding-bottom: 25%;
	background-color: #bf7e3d;
	border-radius: 50%;
	margin: auto;
	box-shadow: 0px 0px 20px 2px #bf7e3d;
	cursor: pointer;
	transition: width 1s, padding-bottom 1s;
	background-image: url(res/mercury.jpg);
	background-size: 100%;
	transform-style: preserve-3d;
	background-position: 0 0;
	animation: mercuryCounterRotation 5.5s linear infinite, rotate 10s linear infinite;
	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
#mercuryLbl{
	animation: mercuryCounterRotation 5.5s linear infinite;
	top: -30%;
}

#venusOrbit{
	position: absolute;
	width: 25%;
	padding-bottom: 25%;
	background-color: transparent;
	border-radius: 50%;
  	top: var(--orbitTop);
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	animation: venusRevolution infinite 14s linear;
}
#venus{
	position: absolute;	
	width: 14%;
	padding-bottom: 14%;
	background-color: #e6e6e6;
	border-radius: 50%;
	margin: auto;
	box-shadow: 0px 0px 20px 2px #e6e6e6;
	cursor: pointer;
	transition: width 1s,padding-bottom 1s;
	background-image: url(res/venus.jpg);
	background-size: 100%;
	transform-style: preserve-3d;
	background-position: 0 0;
	animation: venusCounterRotation 14s linear infinite, rotate 10s linear infinite;
	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
#venusLbl{
	animation: venusCounterRotation 14s linear infinite;
	top: -15%;
}
#earthOrbit{
	position: absolute;
	width: 35%;
	padding-bottom: 35%;
	background-color: transparent;
	border-radius: 50%;
  	top: var(--orbitTop);
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	animation: earthRevolution infinite 22.8s linear;
}
#earth{
	position: absolute;
	width: 11%;
	padding-bottom: 11%;
	background-color: #3374ff;
	border-radius: 50%;
	margin: auto;
	box-shadow: 0px 0px 20px 2px #3374ff;
	cursor: pointer;
	transition: width 1s, padding-bottom 1s;
	background-image: url(https://i.graphicmama.com/blog/wp-content/uploads/2018/06/18112452/World-Map-Vector-with-clouds-ships-waves.jpg);
	background-size: 100%;
	transform-style: preserve-3d;
	background-position: 0 0;
	animation: earthCounterRotation 22.8s linear infinite, rotate 10s linear infinite;
	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
#earthLbl{
	animation: earthCounterRotation 22.8s linear infinite;
	top: -10%;
}
#marsOrbit{
	position: absolute;
	width: 45%;
	padding-bottom: 45%;
	background-color: transparent;
	border-radius: 50%;
  	top: var(--orbitTop);
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	animation: marsRevolution infinite 41s linear;
}
#mars{
	position: absolute;
	width: 8%;
	padding-bottom: 8%;
	background-color: #ff8838;
	border-radius: 50%;
	margin: auto;
	box-shadow: 0px 0px 20px 2px #ff8838;
	cursor: pointer;
	transition: width 1s, padding-bottom 1s;
	background-image: url(res/mars.jpg);
	background-size: 100%;
	transform-style: preserve-3d;
	background-position: 0 0;
	animation: marsCounterRotation 41s linear infinite, rotate 10s linear infinite;
	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
#marsLbl{
	animation: marsCounterRotation 41s linear infinite;
	top: -7%;
}
#jupiterOrbit{
	position: absolute;
	width: 55%;
	padding-bottom: 55%;
	background-color: transparent;
	border-radius: 50%;
  	top: var(--orbitTop);
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	animation: jupiterRevolution infinite 270.5s linear;
}
#jupiter{
	position: absolute;
	width: 8%;
	padding-bottom: 8%;
	background-color: #c9bb91;
	border-radius: 50%;
	margin: auto;
	box-shadow: 0px 0px 20px 2px #c9bb91;
	cursor: pointer;
	transition: width 1s, padding-bottom 1s;
	background-image: url(res/jupiter.jpg);
	background-size: 100%;
	transform-style: preserve-3d;
	background-position: 0 0;
	animation: jupiterCounterRotation 270.5s linear infinite, rotate 10s linear infinite;
	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
#jupiterLbl{
	animation: jupiterCounterRotation 270.5s linear infinite;
	top: -7%;
}
#saturnOrbit{
	position: absolute;
	width: 65%;
	padding-bottom: 65%;
	background-color: transparent;
	border-radius: 50%;
  	top: var(--orbitTop);
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	animation: saturnRevolution infinite 672s linear;
}
#saturn{
	position: absolute;
	width: 6%;
	padding-bottom: 6%;
	background-color: #ffcd38;
	border-radius: 50%;
	margin: auto;
	box-shadow: 0px 0px 20px 2px #ffcd38;
	cursor: pointer;
	transition: width 1s, padding-bottom 1s;
	background-image: url(res/saturn.jpg);
	background-size: 100%;
	transform-style: preserve-3d;
	background-position: 0 0;
	animation: saturnCounterRotation 672s linear infinite, rotate 10s linear infinite;
	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
  	-webkit-box-align: center; 
  	    -ms-flex-align: center; 
  	        align-items: center;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center; 
  	text-align: center; 

}
#saturnLbl{
	animation: saturnCounterRotation 672s linear infinite;
	top: -6%;
}
#saturnRing{
	content: "";
	position: absolute;
	width: 180%;
	padding-bottom: 180%;
	border-radius: 50%;
	background-color: gray;
	/*border: 20px solid gray; */
	transform: rotateX(-100deg);
	opacity: 0.6;
	transition: height width top left transform 2s;
  	-ms-transform: rotateX(-100deg);
  	top: -25%;

}

#uranusOrbit{
	position: absolute;
	width: 75%;
	padding-bottom: 75%;
	background-color: transparent;
	border-radius: 50%;
  	top: var(--orbitTop);
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	animation: uranusRevolution infinite 1916.5s linear;
}
#uranus{
	position: absolute;
	width: 5%;
	padding-bottom: 5%;
	background-color: #ccf7ff;
	border-radius: 50%;
	margin: auto;
	box-shadow: 0px 0px 20px 2px #ccf7ff;
	cursor: pointer;
	transition: width 1s, padding-bottom 1s;
	background-image: url(res/uranus.jpg);
	background-size: 100%;
	transform-style: preserve-3d;
	background-position: 0 0;
	animation: uranusCounterRotation 1916.5s linear infinite, rotate 10s linear infinite;
	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
#uranusLbl{
	animation: uranusCounterRotation 1916.5s linear infinite;
	top: -5%;
}
#neptuneOrbit{
	position: absolute;
	width: 85%;
	padding-bottom: 85%;
	background-color: transparent;
	border-radius: 50%;
  	top: var(--orbitTop);
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	animation: neptuneRevolution infinite 3859.25s linear;
}
#neptune{
	position: absolute;
	width: 5%;
	padding-bottom: 5%;
	background-color: #4049ff;
	border-radius: 50%;
	margin: auto;
	box-shadow: 0px 0px 20px 2px #4049ff;
	cursor: pointer;
	transition: width 1s, padding-bottom 1s;
	background-image: url(res/neptune.jpg);
	background-size: 100%;
	transform-style: preserve-3d;
	background-position: 0 0;
	animation: neptuneCounterRotation 3859.25s linear infinite, rotate 10s linear infinite;
	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
#neptuneLbl{
	animation: neptuneCounterRotation 3859.25s linear infinite;
	top: -3%;
}

/*#mercury:hover, #venus:hover, #earth:hover, #mars:hover, #jupiter:hover, #saturn:hover, #uranus:hover, #neptune:hover{
	width: 100px;
	height: 100px;
	top: -50px;
}*/

#yearsCountCont{
	margin-top: 50px;
	margin-right: 50px;
	position: fixed;
	color: white;
	right: 0;
	z-index: 5;
}

#yearsCount{
	color: white;
	right: 0;
	font-size: 5vw;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 600;
	z-index: 5;
}

#infoCont{
	position: fixed;
	padding-top: 150px;
	width: 0;
	height: 100%;
	left: 0px;
	top: 0px;
	text-align: left;
	overflow: hidden;
	transition: width 2s;
	z-index: 5;
}
#tip{
	position: fixed;
	color: white;
	margin-right: 50px;
	right: 0;
	font-size: 15px;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 300;
	z-index: 5;
}
#planetImg{
	position: relative;
	width: 20%;
	height: auto;
	left: 10px;
}
#planetName{
	font-size: 30px;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 600;
	color: white;
	margin-left: 20px;
	margin-top: 50px;
	text-align: left;
}
#planetDescription{
	font-size: 20px;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 300;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	width: 50%;

}
#hint{
	font-size: 15px;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 300;
	color: white;
	margin: 0;
	margin-left: 20px;
}
@keyframes mercuryRevolution{
	from{
		-ms-transform: translate(-50%, -50%) rotate(45deg);
  		transform: translate(-50%, -50%)  rotate(45deg);
	}
	to{
		-ms-transform: translate(-50%, -50%) rotate(-315deg);
  		transform: translate(-50%, -50%)  rotate(-315deg);
	}
}

@keyframes venusRevolution{
	from{
		-ms-transform: translate(-50%, -50%) rotate(90deg);
  		transform: translate(-50%, -50%)  rotate(90deg);
	}
	to{
		-ms-transform: translate(-50%, -50%) rotate(-270deg);
  		transform: translate(-50%, -50%)  rotate(-270deg);
	}
}
@keyframes earthRevolution{
	from{
		-ms-transform: translate(-50%, -50%) rotate(135deg);
  		transform: translate(-50%, -50%)  rotate(135deg);
	}
	to{
		-ms-transform: translate(-50%, -50%) rotate(-225deg);
  		transform: translate(-50%, -50%)  rotate(-225deg);
	}
}
@keyframes marsRevolution{
	from{
		-ms-transform: translate(-50%, -50%) rotate(180deg);
  		transform: translate(-50%, -50%)  rotate(180deg);
	}
	to{
		-ms-transform: translate(-50%, -50%) rotate(-180deg);
  		transform: translate(-50%, -50%)  rotate(-180deg);
	}
}
@keyframes jupiterRevolution{
	from{
		-ms-transform: translate(-50%, -50%) rotate(225deg);
  		transform: translate(-50%, -50%)  rotate(225deg);
	}
	to{
		-ms-transform: translate(-50%, -50%) rotate(-135deg);
  		transform: translate(-50%, -50%)  rotate(-135deg);
	}
}
@keyframes saturnRevolution{
	from{
		-ms-transform: translate(-50%, -50%) rotate(270deg);
  		transform: translate(-50%, -50%)  rotate(270deg);
	}
	to{
		-ms-transform: translate(-50%, -50%) rotate(-90deg);
  		transform: translate(-50%, -50%)  rotate(-90deg);
	}
}
@keyframes uranusRevolution{
	from{
		-ms-transform: translate(-50%, -50%) rotate(315deg);
  		transform: translate(-50%, -50%)  rotate(315deg);
	}
	to{
		-ms-transform: translate(-50%, -50%) rotate(-45deg);
  		transform: translate(-50%, -50%)  rotate(-45deg);
	}
}
@keyframes neptuneRevolution{
	from{
		-ms-transform: translate(-50%, -50%) rotate(360deg);
  		transform: translate(-50%, -50%)  rotate(360deg);
	}
	to{
		-ms-transform: translate(-50%, -50%) rotate(-0deg);
  		transform: translate(-50%, -50%)  rotate(-0deg);
	}
}





@keyframes mercuryCounterRotation{
	from{
		-ms-transform: translate(-50%, -50%) rotate(-45deg);
  		transform: translate(-50%, -50%)  rotate(-45deg);
	}
	to{
		-ms-transform: translate(-50%, -50%) rotate(315deg);
  		transform: translate(-50%, -50%)  rotate(315deg);
	}
}


@keyframes venusCounterRotation{
	from{
		
		-ms-transform: translate(-50%, -50%) rotate(-90deg);
  		transform: translate(-50%, -50%)  rotate(-90deg);
	}
	to{
		-ms-transform: translate(-50%, -50%) rotate(270deg);
  		transform: translate(-50%, -50%)  rotate(270deg);
	}
}
@keyframes earthCounterRotation{
	from{
		
		-ms-transform: translate(-50%, -50%) rotate(-135deg);
  		transform: translate(-50%, -50%)  rotate(-135deg);
	}
	to{
		background-position: 200px 0;
		-ms-transform: translate(-50%, -50%) rotate(225deg);
  		transform: translate(-50%, -50%)  rotate(225deg);
	}
}
@keyframes marsCounterRotation{
	from{
		-ms-transform: translate(-50%, -50%) rotate(-180deg);
  		transform: translate(-50%, -50%)  rotate(-180deg);
	}
	to{
		-ms-transform: translate(-50%, -50%) rotate(180deg);
  		transform: translate(-50%, -50%)  rotate(180deg);
	}
}
@keyframes jupiterCounterRotation{
	from{
		-ms-transform: translate(-50%, -50%) rotate(-225deg);
  		transform: translate(-50%, -50%)  rotate(-225deg);
	}
	to{
		-ms-transform: translate(-50%, -50%) rotate(135deg);
  		transform: translate(-50%, -50%)  rotate(135deg);
	}
}
@keyframes saturnCounterRotation{
	from{
		-ms-transform: translate(-50%, -50%) rotate(-270deg);
  		transform: translate(-50%, -50%)  rotate(-270deg);
	}
	to{
		-ms-transform: translate(-50%, -50%) rotate(90deg);
  		transform: translate(-50%, -50%)  rotate(90deg);
	}
}
@keyframes uranusCounterRotation{
	from{
		-ms-transform: translate(-50%, -50%) rotate(-315deg);
  		transform: translate(-50%, -50%)  rotate(-315deg);
	}
	to{
		-ms-transform: translate(-50%, -50%) rotate(45deg);
  		transform: translate(-50%, -50%)  rotate(45deg);
	}
}
@keyframes neptuneCounterRotation{
	from{
		-ms-transform: translate(-50%, -50%) rotate(-360deg);
  		transform: translate(-50%, -50%)  rotate(-360deg);
	}
	to{
		-ms-transform: translate(-50%, -50%) rotate(0deg);
  		transform: translate(-50%, -50%)  rotate(0deg);
	}
}

@keyframes rotate {
  0% {
  		background-position: 0 0;
  	}
  100% {
  		background-position: 200px 0;  }
}


@media only screen and (max-width: 600px) {
  #planetImg{
  	width: 50%;
  }
  #planetDescription{
  	width: auto;
  	overflow-y: scroll;
	height: 200px;
  }
}